[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs.d/package"]
	path = emacs.d/package
	url = https://github.com/technomancy/package.el.git
[submodule "emacs.d/ensime"]
	path = emacs.d/ensime
	url = https://github.com/aemoncannon/ensime.git
[submodule "emacs.d/eproject"]
	path = emacs.d/eproject
	url = https://github.com/jrockway/eproject.git
[submodule "emacs.d/sf"]
	path = emacs.d/sf
	url = https://github.com/mgallego/sf.el.git
