- repo: local
  hooks:
    - id: clang-format-check
      name: clang-format check
      entry: clang-format --dry-run --Werror
      language: system
      files: \.(c|h)$
      pass_filenames: true
    - id: clang-tidy-check
      name: clang-tidy check
      entry: ./scripts/clang-tidy-check.sh
      language: system
      files: \.(c|h)$
      pass_filenames: true
